head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Invalid ShortId
  link(href='https://fonts.googleapis.com/css?family=Montserrat:200,400,700' rel='stylesheet')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css')
  link(type='text/css' rel='stylesheet' href='../static/css/404.css')
#notfound
  .notfound
    .notfound-404
      h1 Oops!
      h2 404 - ShortLink not found
    a(href='/') Go TO Homepage
