body>.grid {
    height: 100% !important;
}

.image {
    margin-top: -100px !important;
}

.column {
    max-width: 450px !important;
    margin-left: 55px !important;
    margin-right: 55px !important;
}

body {
    background-image: url("../assests/bg.svg") !important;
    background-size: cover !important;
}